.generatePasswordPage{
  position: relative;
}

.checkboxL{
  width: 400px;
  margin-right: 200px;
  border:1px solid black;  
}

.checkboxR{
  width: 200px;
  border:1px solid black;  
}

.generatePasswordPage input{
  display: block;
}