.App {
  text-align: center;
}

nav li {
  display: inline;
  margin: 20px;  
}

.current {
  font-weight: bolder;
  color: rgb(175, 30, 30);
}

footer {
  padding: 7px 0px 0px 20px;
  position: fixed;
  bottom: 0px;
}
